* {
    margin: 0;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

header {
    width: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
a {
    font-family: 'NanumSquareAceb';
    text-decoration: none;
}
span {
    font-family: 'NanumSquareAceb';
    cursor: default;
}
h2 {
    cursor: default;
}
#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
}

#main-logo {
    display: flex;
    padding: 10px 0;
    color: #4543f8;
    font-size: 30px;
    font-family: 'NanumSquareAceb';
    text-align: center;
}
#main-header {
    width: 1200px;
    display: flex;
    padding: 5px 0;
    justify-content: space-between ;
    align-items: center;
}
#menu-list {
    display: flex;
}
#menu-list > li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
    overflow: hidden;
}
#menu-list > li > a {
    padding: 10px 30px;
    display: block;
    position: relative;
    color: black;
    cursor: pointer;
    transition: color 0.2s ease-in;
    overflow: hidden;
}
.menu-background {
    display: block;
    position: absolute;
    width: 100%;
    bottom:0 ;
    left: 0;
}
.menu-background::before {
    display: block;
    content: "";
    position: absolute;
    height: 100px;
    right: 0;
    bottom: 0;
    transform-origin: center bottom;
    transform: rotateZ(-35deg);
    transition: transform 0.18s ease-in;
    width: 350px;
    /* background: linear-gradient(to left, #4543f8, black); */
    background: #4543f8;

}
#menu-list > li > a:hover {
    cursor: pointer;
    color: white;
}
#menu-list > li > a:hover > .menu-background::before {
    transform: rotate(0);
}
.menu-text {
    position: relative;
    font-size: 15px;
    line-height: 1;
    cursor: pointer;
}
.selected .menu-text {
    color: white;
}
.selected .menu-background::before {
    transform: rotate(0);
}
#lang-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
}
#lang-box {
    display: flex;
    align-items: center;
}
#lang-box > a {
    color: #888;
    font-size: 15px;
}
#lang-line {
    height: 10px;
    background-color: #888;
    width: 1px;
    margin: 0 10px;
}


