#story-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #4543f8;
    height: 60vh;
}
#story-landing > span {
    font-family: 'NanumSquareAceb';
    font-size: 50px;
    color: white;
}
#story-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#story-title-main {
    font-family: 'NanumSquareAceb';
    font-size: 40px;
    color: white;
    margin: 20px 0;
}
#story-title-sub {
    margin: 10px 0;
    width: 60%;
    text-align: center;
    font-family: 'NanumSquareAcr';
    font-size: 22px;
    color: white;
    line-height: 32px;
    letter-spacing: -0.2px;
}
#story {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#story-wrapper{
    display: flex;
    margin: 50px 0;
    width: 70%;
    min-width: 1200px;
    flex-direction: column;
}
.story-year-group {
    display: flex;
    margin-bottom: 50px;
}
.story-year-wrapper {
    width: 40%;
    display: flex;
    align-items: flex-start;
}
.story-history-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.story-year {
    font-size: 50px;
    padding-bottom: 10px;
    width: 100%;
    color: #333;
    font-family: 'NanumSquareAceb';
}
.story-card {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    margin: 10px 0;
}
.story-icon {
    color: #4543f8;
    font-size: 35px;
}
.story-card .story-icon > i {
    transform: rotateZ(-90deg);
}
.story-card .story-content {
    margin-left: 50px;
    align-items: flex-start;
}
.story-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.story-date {
    font-size: 18px;
    font-family: 'NanumSquareAcr';
    color: #777;
}
.story-title {
    font-size: 22px;
    display: flex;
    color: #333;
    font-family: 'NanumSquareAcb';
    line-height: 35px;
    margin-top: 10px;
}
.title-line {
    margin: 0 20px;
    height: 100%;
    border-radius: 15px;
    width: 5px;
    border: 0;
    background-color: #4543f8;
}