@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-news {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#news-main-content {
    display: flex;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}
.news-main-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.news-main-slide > img {
    width: 100%;
}
.news-main-slide-link {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}
.news-main-slide-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.news-main-slide-description-main {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
}
.news-main-slide-description-main-title {
    font-size: 60px;
    color: #4a53b5;
    position: relative;
    font-family: 'NotoSansKR';
    font-weight: 900;
    opacity: 0;
    top: -100%;
}
.news-main-slide-description-type {
    color: white;
    position: relative;
    opacity: 0;
    top: -100%;
}
.news-main-slide-description-line {
    width: 0;
    height: 2px;
    transition: width 1.5s, transform .3s;
    transform-origin: left;
    background-color: white;
    margin: 15px 0;
}
.news-main-slide-description-sub {
    width: 65%;
    display: flex;
    transition: all .3s;
}
.news-main-slide-description-sub-title {
    color: white;
    font-size: 30px;
    bottom: -100%;
    opacity: 0;
    position: relative;
}
.news-main-slide-description-more {
    position: absolute;
    bottom: 10px;
    transition: all .3s;
    opacity: 0;
}
.news-main-slide-description-more-text {
    color: white;
    font-size: 18px;
}
.news-main-slide-description-more-text::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #4a53b5;
}
.swiper-slide-active .news-main-slide-description-main .news-main-slide-description-main-title {
    top: 0;
    opacity: 1;
    transition: top 0.8s, opacity 0.8s;
}
.swiper-slide-active .news-main-slide-description-main .news-main-slide-description-type {
    top: 0;
    opacity: 1;
    transition: top 0.8s, opacity 0.8s;
}
.swiper-slide-active .news-main-slide-description-sub .news-main-slide-description-sub-title {
    transition: bottom 0.8s, opacity 0.8s;
    opacity: 1;
    bottom: 0;
}
.swiper-slide-active .news-main-slide-description-line {
    width: 65%;
}
.news-main-slide-link:hover .news-main-slide-description-main {
    transform: translateY(-35px);
}
.news-main-slide-link:hover .news-main-slide-description-sub {
    transform: translateY(-35px);
}
.news-main-slide-link:hover .news-main-slide-description-line {
    transform: translateY(-35px);
}
.news-main-slide-link:hover .news-main-slide-description-more {
    transform: translateY(-35px);
    opacity: 1;
}

.news-main-slide-button-prev {
    color: white;
    padding: 5px 20px;
    transition: all .3s;
    left: 150px;
}
.news-main-slide-button-prev:hover {
    transform: translateX(-10px);
}
.news-main-slide-button-next {
    color: white;
    padding: 5px 20px;
    transition: all .3s;
    right: 150px;
}
.news-main-slide-button-next:hover {
    transform: translateX(10px);
}


#news-sub-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#news-sub-content-wrapper {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
}
.news-sub-content-card {
    width: 370px;
    height: 420px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.news-sub-content-card-img {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.news-sub-content-card-img:hover > a > img {
    transform: scale(120%);
}
.news-sub-content-card-img > a > img {
    width: 100%;
    transition: all .5s;
}
.news-sub-content-card-textbox {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    width: 100%;
}
.news-sub-content-card-textbox-main-title {
    color: black;
    font-size: 20px;
    margin: 5px 0;
    line-height: 30px;
}
.news-sub-content-card-textbox-main-content {
    color: rgb(90, 90, 90);
    font-size: 13px;
    line-height: 20px;
    font-family: 'NanumSquareAcb';
}
.news-sub-content-card-info {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-sub-content-card-info > span {
    font-size: 12px;
    font-family: 'NanumSquareAcr';
}


#main-service {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.service-section {
    width: 100%;
    height: 360px;
    display: flex;
    background-color: white;
    align-items: center;
}
.service-info {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    box-shadow: 10px 10px 15px 6px #f15b24da;
    border-radius: 15px;
    transition: all .3s ease;
}
.service-info:hover {
    box-shadow: 10px 10px 20px 6px #f15b24;
    transform: translateY(-5px);
}
.service-title-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 40px;
}
.service-title {
    font-family: 'NanumSquareAceb';
    font-size: 30px;
}
.service-subtitle {
    font-family: 'NanumSquareAcb';
    font-size: 30px;
}
#schooler .service-title {
    color: #f15a24;
}
.service-logo-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-left: 40px;
    width: 80%;
}
.service-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 160px;
    width: 160px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 15%);
    overflow: hidden;
}
.service-logo > img {
    height: 100%;
}
.service-notice {
    width: calc(100% - 40% - 100px);
}
.service-more {
    font-family: 'NanumSquareAcb';
    color: #444;
    font-size: 15px;
}
.service-more:hover {
    color: #f15b24;
    text-decoration: underline;
}
.service-more:hover > i {
    animation-name: optionArrow;
    animation-duration: .8s;
}
@keyframes optionArrow {
    0% {transform: translateX(0);}
    25% {transform: translateX(5px);}
    50% {transform: translateX(0);}
    75% {transform: translateX(5px);}
    100% {transform: translateX(0px);}
}