<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/addce8cc1e.js" crossorigin="anonymous"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/footer.css">
    <link rel="stylesheet" href="/css/home/business.css">
    <script src="/js/home/business.js" defer></script>
    <title> STEP OF 스텝오브</title>
</head>
<body>
    <script>
        AOS.init();
    </script>
    <header>
        <nav id="main-header">   
            <div id="logo">
                <a href="/HTML/main.html" id="main-logo">STEPOF</a>
            </div>
            <div id="menu-list">
                <li>
                    <a href="/business">
                        <span class="menu-background"></span>
                        <span class="menu-text">회사소개</span>
                    </a>
                </li>
                <li>
                    <a href="/service">
                        <span class="menu-background"></span>
                        <span class="menu-text">서비스</span>
                    </a>
                </li>
                <li>
                    <a href="/history">
                        <span class="menu-background"></span>
                        <span class="menu-text">스토리</span>
                    </a>
                </li>
                <li>                    
                    <a href="/news">
                        <span class="menu-background"></span>
                        <span class="menu-text">소식</span>
                    </a>
                </li>
                <li>
                    <a href="/recruit">
                        <span class="menu-background"></span>
                        <span class="menu-text">인재채용</span>
                    </a>
                </li>
            </div>
            <div id="lang-header">
                <div id="lang-box">
                    <a href="" style="color: #4543f8;" id="KOR">KOR</a>
                    <span id="lang-line"></span>
                    <a href="" id="ENG">ENG</a>
                </div>
            </div>
        </nav>
    </header>
    <section id="main">
        <div id="landing">
            <div id="landing-wrapper">
                <div id="landing-text">
                    <!-- <div id="landing-title" data-aos="fade-up" data-aos-duration="500">
                        <h2 id="title">WE TAKE <br> ONE STEP TOWARDS <br> A BETTER WORLD</h2>
                    </div>
                    <div id="landing-subtitle" data-aos="fade-up" data-aos-duration="800">
                        <span id="subtitle">더 나은 세상을 위해 우리는 한 발짝 내딛습니다</span>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section id="intro">
        <div id="intro-part">
            <div class="part-name animateOnScroll">
                <span class="part-text">스텝오브의 정체성</span>
                <span class="text-subtitle">Our identify</span>
            </div>
            <div id="intro-info-logo">
                <div id="logo-meaning">
                    <span class="text-description" id="meaning-des">
                        스텝오브는 IT 기반 소셜 디벨로퍼로서, 우리 사회의 문제와 요구들을 바탕으로  혁신적으로 기술적으로 접근해 해결책을 제시하고 모색해 나가고 있습니다.                            
                        <br> 우리의 스텝이 모두를 위한 스텝이 될 수 있도록 더 나은 세상이 될 수 있도록!
                    </span>
                </div>
                <div id="intro-info-identify">
                    <div id="info-identify-content">
                        <div id="identify-content-main">
                            <div id="identify-content-main-main"><span>세상</span></div>
                            <div id="identify-content-main-sub">
                                <span>을 혁신하고</span>
                                <span>을 연결시키고</span>
                                <span>이 미래를 변화시키는</span>
                            </div>
                        </div>
                        <div id="identify-content-sub" data-aos-duration="900" data-aos="flip-left">
                            <div id="identify-content-sub-main"><span>플랫폼</span></div>
                        </div>
                    </div>
                </div>
                <div id="info-logo">
                    <div id="info-logo-des">
                        <!-- <span id="info-logo-mainText">STEP OF</span> -->
                        <div id="info-logo-targetText">
                            <div id="target-wrapper">
                                <div id="targetList">
                                    <div class="targetText"><span>커뮤니티 community</span></div>
                                    <div class="targetText"><span>메타버스 metabus</span></div>
                                    <div class="targetText"><span>인공지능 AI</span></div>
                                    <div class="targetText"><span>이커머스 E commerce</span></div>
                                    <div class="targetText"><span>로봇 robot</span></div>
                                    <div class="targetText"><span>공간 space</span></div>
                                    <div class="targetText"><span>문화 culture</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="info-logo-img">
                        <div id="info-logo-img-cover"></div>
                        <div id="info-logo-img-wrapper">
                            <img class="logo-img" src="/img/home/community.png" alt="">
                            <img class="logo-img" src="/img/home/metabus.png" alt="">
                            <img class="logo-img" src="/img/home/ai.png" alt="">
                            <img class="logo-img" src="/img/home/ecommerce.png" alt="">
                            <img class="logo-img" src="/img/home/robot.png" alt="">
                            <img class="logo-img" src="/img/home/space.png" alt="">
                            <img class="logo-img" src="/img/home/culture.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="way">
        <div id="way-part">
            <div class="part-name animateOnScroll">
                <span class="part-text">변화를 만들어가는 방법</span>
                <span class="text-subtitle">A way to make changes</span>
            </div>
            <div id="way-wrapper">
                <div class="way-card">
                    <div class="way-card-textBox">
                        <div class="way-card-textBox-wrapper">
                            <div class="way-card-title">
                                <div class="way-card-title-main"><span>REDISCOVERY</span></div>
                                <div class="way-card-title-sub"><span>일상 속에서의 가치를 새롭게 다시 <br> 발견하다</span></div>
                            </div>
                            <div class="way-card-content">
                                <p>
                                    평범한 우리 일상 속에 있는 기존의 가치에서 패러다임을 깨고 다방면에서 바라보며 새로운 가치를 발견합니다.
                                    기존의 가치가 새로운 가치가 될 때 비로소 진정 가치있는 것이 아닐까요? 그런 가치 있는 세상을 새롭게 다시 발견하며 변화해나갑니다.
                                </p>
                            </div>
                            <div class="way-card-keyword">
                                <span class="hashtag">#가치발견</span>
                                <span class="hashtag">#일상속가치</span>
                                <span class="hashtag">#소셜벨류</span>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-left" class="way-card-mediaBox">
                        <img src="/img/home/discovery.png" alt="">
                    </div>
                </div>
                <div class="way-card">
                    <div class="way-card-textBox">
                        <div class="way-card-textBox-wrapper">
                            <div class="way-card-title">
                                <div class="way-card-title-main"><span>REDEFINITION</span></div>
                                <div class="way-card-title-sub"><span>세상의 발전을 새롭게 다시 정의하다</span></div>
                            </div>
                            <div class="way-card-content">
                                <p>
                                    지금까지의 발전은 진정 더 나은 세상을 위한 발전이었을까요? 
                                    발전의 결과에 따르는 책임을 다 할 수 있는 변화, 끊임없이 문제점들을 지적하고 질문을 던지는 변화,
                                    이러한 변화들이 곧 발전이 되는 세상이 진정 우리가 원하는 세상입니다.

                                </p>
                            </div>
                            <div class="way-card-keyword">
                                <span class="hashtag">#진정한발전</span>
                                <span class="hashtag">#세상을위한정의</span>
                                <span class="hashtag">#가치를의미</span>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="way-card-mediaBox">
                        <img src="/img/home/definition.png" alt="">
                    </div>
                </div>
                <div class="way-card">
                    <div class="way-card-textBox">
                        <div class="way-card-textBox-wrapper">
                            <div class="way-card-title">
                                <div class="way-card-title-main"><span>RECREATION</span></div>
                                <div class="way-card-title-sub"><span>세상에 없던 새로운 가치를 창조하다</span></div>
                            </div>
                            <div class="way-card-content">
                                <p>
                                    기술의 융합과 사람의 융합으로 새로운 가치를 선보임으로서 미래를 선도하고
                                    창의적이고 획기적인 아이디어를 통해 세상에 없던 새로운 가치를 창조합니다. 
                                    새로운 가치가 변화의 스텝이 되고, 우리의 창의력과 에너지가 세상의 변화의 흐름이 됩니다.
                                </p>
                            </div>
                            <div class="way-card-keyword">
                                <span class="hashtag">#새로운가치</span>
                                <span class="hashtag">#변화의스텝</span>
                                <span class="hashtag">#크리에이티브벨류</span>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-left" class="way-card-mediaBox">
                        <img  src="/img/home/creation.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="coreValues">
        <div id="coreValues-part">
            <div class="part-name animateOnScroll">
                <span class="part-text">핵심가치</span>
                <span class="text-subtitle">core values</span>
            </div>
            <div id="coreValues-wrapper">
                <div id="coreValues-preview">
                    <div class="coreValues-preview-box">
                        <div class="coreValues-preview-textBox">
                            <h2 class="coreValues-preview-mainText">COMMUNICATION</h2>
                            <span class="coreValues-preview-subText">소통과 대화</span>
                        </div>
                    </div>
                    <div class="coreValues-preview-box">
                        <div class="coreValues-preview-textBox">
                            <h2 class="coreValues-preview-mainText">CREATIVITY</h2>
                            <span class="coreValues-preview-subText">창의적 사고</span>
                        </div>
                    </div>
                    <div class="coreValues-preview-box">
                        <div class="coreValues-preview-textBox">
                            <h2 class="coreValues-preview-mainText">TECHNOLOGY</h2>
                            <span class="coreValues-preview-subText">기술과 융합</span>
                        </div>
                    </div>
                    <div class="coreValues-preview-box">
                        <div class="coreValues-preview-textBox">
                            <h2 class="coreValues-preview-mainText">INDIVIDUALITY</h2>
                            <span class="coreValues-preview-subText">개성</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer-wrapper">
            <div id="footer-info-up">
                <div id="footer-info-up-left">
                    <div id="footer-info-up-logo">STEP OF</div>
                    <div id="footer-info-up-copyright">© STEPOF Corp. All rights reserved.</div>
                </div>
                <div id="footer-info-up-policy">
                    <a href="" class="footer-info-up-policy">이용약관</a>
                    <a href="" class="footer-info-up-policy">운영정책</a>
                    <a href="" class="footer-info-up-policy">개인정보처리방침</a>
                    <a href="" class="footer-info-up-policy">청소년보호정책</a>
                </div>
            </div>
            <div id="footer-info-down">
                <div class="footer-info-down"><span>대표자명 : 양민호 </span></div>
                <div class="footer-info-down"><span>TEL :</span>&ensp;<a href="tel:+82 01043478854"> +82 010-4347-8854</a></div>
                <div class="footer-info-down"><span>EMAIL :</span>&ensp;<a href="mailto:hoguyt0517@gmail.com">hoguyt0517@gmail.com</a></div>
            </div>
        </div>
    </footer>
</body>
</html>