<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/addce8cc1e.js" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/footer.css">
    <link rel="stylesheet" href="/css/home/history.css">
    <script src="/js/home/history.js" defer></script>
    <title> STEP OF - 스텝오브 </title>
</head>
<body>
    <script>
        AOS.init();
    </script>
    <header>
        <nav id="main-header">   
            <div id="logo">
                <a href="/HTML/main.html" id="main-logo">STEP OF</a>
            </div>
            <div id="menu-list">
                <li>
                    <a href="/business">
                        <span class="menu-background"></span>
                        <span class="menu-text">회사소개</span>
                    </a>
                </li>
                <li>
                    <a href="/service">
                        <span class="menu-background"></span>
                        <span class="menu-text">서비스</span>
                    </a>
                </li>
                <li>
                    <a class="selected" href="/history">
                        <span class="menu-background"></span>
                        <span class="menu-text">스토리</span>
                    </a>
                </li>
                <li>                    
                    <a href="/news">
                        <span class="menu-background"></span>
                        <span class="menu-text">소식</span>
                    </a>
                </li>
                <li>
                    <a href="/recruit">
                        <span class="menu-background"></span>
                        <span class="menu-text">인재채용</span>
                    </a>
                </li>
            </div>
            <div id="lang-header">
                <div id="lang-box">
                    <a href="" style="color: #4543f8;" id="KOR">KOR</a>
                    <span id="lang-line"></span>
                    <a href="" id="ENG">ENG</a>
                </div>
            </div>
        </nav>
    </header>
    <section id="story-landing">
        <div id="story-title">
            <h2 id="story-title-main">STORY</h2>
            <p id="story-title-sub">스텝오브는 과거의 한발짝이 미래를 위한 한발짝이 되기 위해 현재의 한발짝을 만들어갑니다</p>
        </div>
    </section>
    <section id="story">
        <div id="story-wrapper">
            <div class="story-year-group" id="story-2022">
                <div class="story-year-wrapper">
                    <span class="story-year">2022년</span>
                </div>
                <div class="story-history-wrapper">
                    <%- history2022 %>
                </div>
            </div>
            <div class="story-year-group" id="story-2021">
                <div class="story-year-wrapper">
                    <span class="story-year">2021년</span>
                </div>
                <div class="story-history-wrapper">
                    <%- history2021 %>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="footer-wrapper">
            <div id="footer-info-up">
                <div id="footer-info-up-left">
                    <div id="footer-info-up-logo">STEP OF</div>
                    <div id="footer-info-up-copyright">© STEPOF Corp. All rights reserved.</div>
                </div>
                <div id="footer-info-up-policy">
                    <a href="" class="footer-info-up-policy">이용약관</a>
                    <a href="" class="footer-info-up-policy">운영정책</a>
                    <a href="" class="footer-info-up-policy">개인정보처리방침</a>
                    <a href="" class="footer-info-up-policy">청소년보호정책</a>
                </div>
            </div>
            <div id="footer-info-down">
                <div class="footer-info-down"><span>대표자명 : 양민호 </span></div>
                <div class="footer-info-down"><span>TEL :</span>&ensp;<a href="tel:+82 01043478854"> +82 010-4347-8854</a></div>
                <div class="footer-info-down"><span>EMAIL :</span>&ensp;<a href="mailto:hoguyt0517@gmail.com">hoguyt0517@gmail.com</a></div>
            </div>
        </div>
    </footer>
</body>
</html>