<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/addce8cc1e.js" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/footer.css">
    <link rel="stylesheet" href="/css/home/history.css">
    <script src="/js/home/history.js" defer></script>
    <title> STEP OF - 스텝오브 </title>
</head>
<body>
    <script>
        AOS.init();
    </script>
    <header>
        <nav id="main-header">
            <!-- <a href="/HTML/main.html" id="main-logo">STEP OF</a> -->
        </nav>
        <nav id="nav-header">
            <div id="menu-list">
                <li><a href="/">회사소개</a></li>
                <li><a href="/service">서비스</a></li>
                <li><a href="/history">스토리</a></li>
                <li><a href="/news">소식</a></li>
                <li><a href="/recruit">채용</a></li>
            </div>
        </nav>
    </header>
    <section id="story-landing">
        <div id="story-title">
            <h2 id="story-title-main">STORY</h2>
            <p id="story-title-sub">스텝오브는 과거의 한발짝이 미래를 위한 한발짝이 되기 위해 현재의 한발짝을 만들어갑니다</p>
        </div>
    </section>
    <section id="story">
        <div id="story-wrapper">
            <span class="story-year">2022년</span>
            <div class="story-card type-two">
                <div class="story-content" data-aos="fade-right" data-aos-duration="800">
                    <div class="story-date">9월 9일</div>
                    <a href="" class="story-title"><span class="title-line"></span>학교 커뮤니티 플랫폼 스쿨러 기획 완료 및 개발 착수</a>
                </div>
                <div class="story-icon" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500"><i class="fa-solid fa-shoe-prints"></i></div>
            </div>
            <div class="story-card type-one">
                <div class="story-icon" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500"><i class="fa-solid fa-shoe-prints"></i></div>
                <div class="story-content"data-aos="fade-left" data-aos-duration="800">
                    <div class="story-date">5월 25일</div>
                    <a href="" class="story-title">학교 커뮤니티 플랫폼 스쿨러 기획<span class="title-line"></span></a>
                </div>
            </div>
            <div class="story-card type-two">
                <div class="story-content" data-aos="fade-right" data-aos-duration="800">
                    <div class="story-date">4월 28일</div>
                    <a href="" class="story-title"><span class="title-line"></span>스텝오브_STEP OF 코퍼레이션 사이트 제작 착수</a>
                </div>
                <div class="story-icon" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500"><i class="fa-solid fa-shoe-prints"></i></div>
            </div>
            <div class="story-card type-one">
                <div class="story-icon" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500"><i class="fa-solid fa-shoe-prints"></i></div>
                <div class="story-content" data-aos="fade-left" data-aos-duration="800">
                    <div class="story-date">3월 11일</div>
                    <a href="" class="story-title">플랫업_PLATUP -> 스텝오브_STEP OF 리브랜딩<span class="title-line"></span></a>
                </div>
            </div>
            <span class="story-year">2021년</span>
            <div class="story-card type-two">
                <div class="story-content" data-aos="fade-right" data-aos-duration="800">
                    <div class="story-date">11월 15일</div>
                    <a href="" class="story-title"><span class="title-line"></span>ESPORT G 이스포츠 대회 플랫폼 기획</a>
                </div>
                <div class="story-icon" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500"><i class="fa-solid fa-shoe-prints"></i></div>
            </div>
            <div class="story-card type-one">
                <div class="story-icon" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500"><i class="fa-solid fa-shoe-prints"></i></div>
                <div class="story-content" data-aos="fade-left" data-aos-duration="800">
                    <div class="story-date">10월 20일</div>
                    <a href="" class="story-title">IT기반 플랫폼 소셜밸류(Social Value)회사 플랫업_PLATUP 설립<span class="title-line"></span></a>
                </div>
            </div>


        </div>
    </section>

    <footer>
        <div id="footer-wrapper">
            <div id="footer-info-up">
                <div id="footer-info-up-left">
                    <div id="footer-info-up-logo">STEP OF</div>
                    <div id="footer-info-up-copyright">© STEPOF Corp. All rights reserved.</div>
                </div>
                <div id="footer-info-up-policy">
                    <a href="" class="footer-info-up-policy">이용약관</a>
                    <a href="" class="footer-info-up-policy">운영정책</a>
                    <a href="" class="footer-info-up-policy">개인정보처리방침</a>
                    <a href="" class="footer-info-up-policy">청소년보호정책</a>
                </div>
            </div>
            <div id="footer-info-down">
                <div class="footer-info-down"><span>대표자명 : 양민호 </span></div>
                <div class="footer-info-down"><span>TEL :</span>&ensp;<a href="tel:+82 01043478854"> +82 010-4347-8854</a></div>
                <div class="footer-info-down"><span>EMAIL :</span>&ensp;<a href="mailto:hoguyt0517@gmail.com">hoguyt0517@gmail.com</a></div>
            </div>
        </div>
    </footer>
</body>
</html>