<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/footer.css">
    <link rel="stylesheet" href="/css/home/news.css">
    <script src="/js/home/news.js" defer></script>
    <title> STEP OF - 스텝오브 </title>
</head>
<body>
    <script>
        AOS.init();
    </script>
    <header>
        <nav id="main-header">   
            <div id="logo">
                <a href="/HTML/main.html" id="main-logo">CONEXIT</a>
            </div>
            <div id="menu-list">
                <li>
                    <a href="/">
                        <span class="menu-background"></span>
                        <span class="menu-text">비즈니스</span>
                    </a>
                </li>
                <li>
                    <a href="/service">
                        <span class="menu-background"></span>
                        <span class="menu-text">서비스</span>
                    </a>
                </li>
                <li>
                    <a href="/history">
                        <span class="menu-background"></span>
                        <span class="menu-text">스토리</span>
                    </a>
                </li>
                <li>                    
                    <a href="/news">
                        <span class="menu-background"></span>
                        <span class="menu-text">소식</span>
                    </a>
                </li>
                <li>
                    <a href="/recruit">
                        <span class="menu-background"></span>
                        <span class="menu-text">인재채용</span>
                    </a>
                </li>
            </div>
            <div id="lang-header">
                <div id="lang-box">
                    <a href="" style="color: #4543f8;" id="KOR">KOR</a>
                    <span id="lang-line"></span>
                    <a href="" id="ENG">ENG</a>
                </div>
            </div>
        </nav>
    </header>
    <section id="news-landing">
        <div id="news-title">
            <h2 id="news-title-main">NEWSROOM</h2>
        </div>
    </section>
    <section id="news">
        <div class="news-wrapper">
            <div class="news-card" data-aos="fade-up">
                <div class="news-card-img">
                    <a href=""><img src="http://deoham.co.kr/wp-content/uploads/2022/04/DSC07210-2.jpg" alt=""></a>
                </div>
                <div class="news-textbox">
                    <a href="" class="news-sub-content-card-textbox-main-title">‘페이지 명동’, 현대차 정몽구 재단 공간 플랫폼 ‘온드림 소사이어티’ 유치</a>
                    <a href="" class="news-sub-content-card-textbox-main-content">소셜디벨로퍼 그룹 더함(대표 양동수)은 ‘페이지 명동’에 현대차 정몽구 재단(이사장 권오규)의 첫 공간 플랫폼 ‘온드림 소사이어티’를 유치했다고 25일 밝혔다. ...</a>
                </div>
                <div class="news-card-info">
                    <span class="news-card-info-date">2022.5.12</span>
                    <span class="news-card-info-type">서비스</span>
                </div>
            </div>
            <div class="news-card" data-aos="fade-up">
                <div class="news-card-img">
                    <a href=""><img src="http://deoham.co.kr/wp-content/uploads/2022/04/2222.jpg" alt=""></a>
                </div>
                <div class="news-textbox">
                    <a href="" class="news-sub-content-card-textbox-main-title">위스테이지축 마을공동체의 첫 플리마켓 ‘지축__해보장’</a>
                    <a href="" class="news-sub-content-card-textbox-main-content">이웃과 함께하는 플리마켓, 들어보셨나요? 아파트형 마을공동체, 위스테이에서는 서로가 가진 것을 나누는 플리마켓이 열립니다. 위스테이지축 입주가 성료되고 열렸던 첫 플리마켓 현장, ...</a>
                </div>
                <div class="news-card-info">
                    <span class="news-card-info-date">2022.5.12</span>
                    <span class="news-card-info-type">서비스</span>
                </div>
            </div>
            <div class="news-card" data-aos="fade-up">
                <div class="news-card-img">
                    <a href=""><img src="http://deoham.co.kr/wp-content/uploads/2022/04/DSC07210-2.jpg" alt=""></a>
                </div>
                <div class="news-textbox">
                    <a href="" class="news-sub-content-card-textbox-main-title">‘페이지 명동’, 현대차 정몽구 재단 공간 플랫폼 ‘온드림 소사이어티’ 유치</a>
                    <a href="" class="news-sub-content-card-textbox-main-content">소셜디벨로퍼 그룹 더함(대표 양동수)은 ‘페이지 명동’에 현대차 정몽구 재단(이사장 권오규)의 첫 공간 플랫폼 ‘온드림 소사이어티’를 유치했다고 25일 밝혔다. ...</a>
                </div>
                <div class="news-card-info">
                    <span class="news-card-info-date">2022.5.12</span>
                    <span class="news-card-info-type">서비스</span>
                </div>
            </div>
            <div class="news-card" data-aos="fade-up">
                <div class="news-card-img">
                    <a href=""><img src="http://deoham.co.kr/wp-content/uploads/2022/04/DSC07210-2.jpg" alt=""></a>
                </div>
                <div class="news-textbox">
                    <a href="" class="news-sub-content-card-textbox-main-title">‘페이지 명동’, 현대차 정몽구 재단 공간 플랫폼 ‘온드림 소사이어티’ 유치</a>
                    <a href="" class="news-sub-content-card-textbox-main-content">소셜디벨로퍼 그룹 더함(대표 양동수)은 ‘페이지 명동’에 현대차 정몽구 재단(이사장 권오규)의 첫 공간 플랫폼 ‘온드림 소사이어티’를 유치했다고 25일 밝혔다. ...</a>
                </div>
                <div class="news-card-info">
                    <span class="news-card-info-date">2022.5.12</span>
                    <span class="news-card-info-type">서비스</span>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="footer-wrapper">
            <div id="footer-info-up">
                <div id="footer-info-up-left">
                    <div id="footer-info-up-logo">STEP OF</div>
                    <div id="footer-info-up-copyright">© STEPOF Corp. All rights reserved.</div>
                </div>
                <div id="footer-info-up-policy">
                    <a href="" class="footer-info-up-policy">이용약관</a>
                    <a href="" class="footer-info-up-policy">운영정책</a>
                    <a href="" class="footer-info-up-policy">개인정보처리방침</a>
                    <a href="" class="footer-info-up-policy">청소년보호정책</a>
                </div>
            </div>
            <div id="footer-info-down">
                <div class="footer-info-down"><span>대표자명 : 양민호 </span></div>
                <div class="footer-info-down"><span>TEL :</span>&ensp;<a href="tel:+82 01043478854"> +82 010-4347-8854</a></div>
                <div class="footer-info-down"><span>EMAIL :</span>&ensp;<a href="mailto:hoguyt0517@gmail.com">hoguyt0517@gmail.com</a></div>
            </div>
        </div>
    </footer>
</body>
</html>