<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/footer.css">
    <link rel="stylesheet" href="/css/home/recruit.css">
    <script src="/js/home/recruit.js" defer></script>
    <title> STEP OF - 스텝오브 </title>
</head>
<body>
    <header>
        <nav id="main-header">
            <!-- <a href="/HTML/main.html" id="main-logo">STEP OF</a> -->
        </nav>
        <nav id="nav-header">
            <div id="menu-list">
                <li><a href="/">회사소개</a></li>
                <li><a href="/service">서비스</a></li>
                <li><a href="/history">스토리</a></li>
                <li><a href="/news">소식</a></li>
                <li><a href="/recruit">채용</a></li>
            </div>
        </nav>
    </header>
    <section id="recruit-landing">
        <div id="recruit-title">
            <h2 id="recruit-title-main">RECRUIT</h2>
            <p id="recruit-title-sub">스텝오브는 올바른 방향성을 제시하여 세상의 서로 다른 사람들을 연결시키기 위해 서로 다른 사람들과 한방향으로 걸어갑니다.</p>
        </div>
    </section>
    <section id="recruit">

        <div class="recruit-type">
            <div class="recruit-type-list-wrapper">
                <a href="" class="recruit-type-list">
                    <div class="recruit-type-list-textbox">
                        <span data-main-title="DEVELOPER" class="recruit-type-list-main-title">DEVELOPER↗</span>
                        <span class="recruit-type-list-sub-title">새로운 미래를 구현합니다</span>
                    </div>
                </a>
                <a href="" class="recruit-type-list">
                    <div class="recruit-type-list-textbox">
                        <span data-main-title="DESIGN" class="recruit-type-list-main-title">DESIGN↗</span>
                        <span class="recruit-type-list-sub-title">다가오는 미래를 설계합니다</span>
                    </div>
                </a>
                <a href="" class="recruit-type-list">
                    <div class="recruit-type-list-textbox">
                        <span data-main-title="MANAGEMENT" class="recruit-type-list-main-title">MANAGEMENT↗</span>
                        <span class="recruit-type-list-sub-title">미래의 우리를 계획합니다</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="recruit-people">
            <h2 class="recruit-section-title">PEOPLE</h2>
            <p class="recruit-section-add">스텝오브 멤버들의 스토리 </p>
            <div id="recruit-people-list" class="swiper">
                <div class="swiper-wrapper recruit-people-list-wrapper">
                    <div class="swiper-slide recruit-people-slide">
                        <div class="recruit-people-slide-img">
                            <img src="https://recruit.navercorp.com/share/tmplat/naver/img/slide/people/img_slide2_2.jpg" alt="">
                        </div>
                        <div class="recruit-people-slide-textbox">
                            <div class="recruit-people-slide-title">좋은 영향력을 개발합니다</div>
                            <div class="recruit-people-slide-info">
                                <span class="company">STEPOF</span>
                                <span class="team">CTO</span>
                                <span class="name">양민호</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide recruit-people-slide">
                        <div class="recruit-people-slide-img">
                            <img src="https://recruit.navercorp.com/share/tmplat/naver/img/slide/people/img_slide2_5.jpg" alt="">
                        </div>
                        <div class="recruit-people-slide-textbox">
                            <div class="recruit-people-slide-title">실패를 계획한다는 것</div>
                            <div class="recruit-people-slide-info">
                                <span class="company">STEPOF</span>
                                <span class="team">서포트매니지먼트팀</span>
                                <span class="name">박힘찬</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide recruit-people-slide">
                        <div class="recruit-people-slide-img">
                            <img src="https://recruit.navercorp.com/share/tmplat/naver/img/slide/people/img_slide2_1.jpg" alt="">
                        </div>
                        <div class="recruit-people-slide-textbox">
                            <div class="recruit-people-slide-title">실용적인 코딩</div>
                            <div class="recruit-people-slide-info">
                                <span class="company">STEPOF</span>
                                <span class="team">백엔드테크팀</span>
                                <span class="name">양희찬</span>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="recruit-application">
            <h2 class="recruit-section-title">APPLICATION</h2>
            <p class="recruit-section-add">스텝오브는 발전하는 세상 속에서 소비자 중심 플랫폼으로 사람과 사람을 연결하는 데 앞장설 재능과 열정있는 멤버를 찾고 있습니다 </p>
            <div id="recruit-application-inputbox">
                <div id="recruit-application-inputbox-wrapper">
                    <div class="recruit-application-input">
                        <span class="recruit-application-input-name">직군 선택</span><span class="equal">:</span>
                        <select class="application-input" name="team" id="team">
                            <option value="" disabled selected></option>
                            <option value="tech">TECH - 테크</option>
                            <option value="tech">DESIGN - 디자인</option>
                            <option value="tech">MANAGEMENT - 매니지먼트</option>
                        </select>
                    </div>
                    <div class="recruit-application-input">
                        <span class="recruit-application-input-name">이름</span><span class="equal">:</span>
                        <input class="application-input" type="text" name="name" id="name">
                    </div>
                    <div class="recruit-application-input">
                        <span class="recruit-application-input-name">전화번호</span><span class="equal">:</span>
                        <input class="application-input" type="tel" name="tel" id="tel">
                    </div>
                    <div class="recruit-application-input">
                        <span class="recruit-application-input-name">이메일</span><span class="equal">:</span>
                        <input class="application-input" type="email" name="email" id="email">
                    </div>
                    <div id="recruit-application-info">
                        <span class="recruit-application-info-text">1) 입력란에 기재된 전화번호, 이메일로 채용 시험 안내 문자와 이메일이 전송될 것입니다.</span>
                        <span class="recruit-application-info-text">2) 각 직군 별로 채용 과정과 증빙 서류가 다를 수 있으니 그 점 유의하시길 바랍니다.</span>
                    </div>
                    <div id="recruit-application-btn">
                        <button id="submit">제출하기</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="footer-wrapper">
            <div id="footer-info-up">
                <div id="footer-info-up-left">
                    <div id="footer-info-up-logo">STEP OF</div>
                    <div id="footer-info-up-copyright">© STEPOF Corp. All rights reserved.</div>
                </div>
                <div id="footer-info-up-policy">
                    <a href="" class="footer-info-up-policy">이용약관</a>
                    <a href="" class="footer-info-up-policy">운영정책</a>
                    <a href="" class="footer-info-up-policy">개인정보처리방침</a>
                    <a href="" class="footer-info-up-policy">청소년보호정책</a>
                </div>
            </div>
            <div id="footer-info-down">
                <div class="footer-info-down"><span>대표자명 : 양민호 </span></div>
                <div class="footer-info-down"><span>TEL :</span>&ensp;<a href="tel:+82 01043478854"> +82 010-4347-8854</a></div>
                <div class="footer-info-down"><span>EMAIL :</span>&ensp;<a href="mailto:hoguyt0517@gmail.com">hoguyt0517@gmail.com</a></div>
            </div>
        </div>
    </footer>
</body>
</html>