<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/addce8cc1e.js" crossorigin="anonymous"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/footer.css">
    <link rel="stylesheet" href="/css/home/service.css">
    <script src="/js/home/service.js" defer></script>
    <title> STEP OF - 스텝오브 </title>
</head>
<body>
    <header>
        <nav id="main-header">   
            <div id="logo">
                <a href="/HTML/main.html" id="main-logo">STEPOF</a>
            </div>
            <div id="menu-list">
                <li>
                    <a href="/business">
                        <span class="menu-background"></span>
                        <span class="menu-text">회사소개</span>
                    </a>
                </li>
                <li>
                    <a href="/service">
                        <span class="menu-background"></span>
                        <span class="menu-text">서비스</span>
                    </a>
                </li>
                <li>
                    <a href="/history">
                        <span class="menu-background"></span>
                        <span class="menu-text">스토리</span>
                    </a>
                </li>
                <li>                    
                    <a href="/news">
                        <span class="menu-background"></span>
                        <span class="menu-text">소식</span>
                    </a>
                </li>
                <li>
                    <a href="/recruit">
                        <span class="menu-background"></span>
                        <span class="menu-text">인재채용</span>
                    </a>
                </li>
            </div>
            <div id="lang-header">
                <div id="lang-box">
                    <a href="" style="color: #4543f8;" id="KOR">KOR</a>
                    <span id="lang-line"></span>
                    <a href="" id="ENG">ENG</a>
                </div>
            </div>
        </nav>
    </header>
    <section id="service-landing">
        <div id="service-title">
            <h2 id="service-title-main">SERVICES</h2>
            <p id="service-title-sub">스텝오브는 기술과 플랫폼으로 온라인과 오프라인에서 사람과 사람을 연결함으로서 커뮤니티가 한발짝 나아가기 위해 항상 새로운 시도를 도전하고 있습니다.</p>
        </div>  
    </section>
    <section id="service">
        <div id="service-wrapper">
            <div id="service-list">
                <hr class="service-card-line">
                <div class="service-card">
                    <div class="service-card-info-text">
                        <div class="service-card-title">
                            <span class="service-card-title-main" style="color: #f15a24;">스쿨러</span>
                            <span class="service-card-title-sub">학교 커뮤니티 플랫폼</span>
                            <p class="service-card-explanation">네이버 모바일은 사용자의 검색 의도와 맥락을 깊이 이해하는 검색 서비스를 중심으로 개인의 다양한 관심사를 이어갈 수 있는 콘텐츠 주제판을 제공하고 있습니다. 또한 매일 3천만 명에 이르는 다양한 사용자의 생각과 관심사를 연결하고, 새로운 기회를 만들어가는 플랫폼이 되고자 크고 작은 변화들을 이어가고 있습니다.</p>
                        </div>
                        <div class="service-card-logo">
                            <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple126/v4/c0/cc/85/c0cc855b-f67d-8e4e-1e32-cea1afbd8672/AppIcon-1x_U007emarketing-0-7-0-85-220.png/230x0w.webp" alt="">
                        </div>
                    </div>
                    <div class="service-card-info-more">
                        <img class="service-card-info-more-img" src="https://is4-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/c5/a2/d1/c5a2d1c1-26d3-9735-854f-016706c22d0c/c190c9f5-7278-49aa-9937-56b1b978534a_iOS_screen_A_03.png/230x0w.webp" alt="">
                        <img class="service-card-info-more-img" src="https://is5-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/b4/77/f2/b477f29c-51b8-79f4-6d7c-aa269f0056d9/ad2e2fbd-635f-4bcd-8430-f49b29644095_iOS_screen_A_04.png/230x0w.webp" alt="">    
                        <img class="service-card-info-more-img" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/a7/b7/14/a7b71410-2e7b-d8ae-1c03-8884630e9a0e/07e57219-b7db-483c-a4b7-40765411eb03_iOS_screen_A_05.png/230x0w.webp" alt="">
                        <img class="service-card-info-more-img" src="https://is4-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/46/1b/be/461bbeca-8b37-5bb6-4793-f31bcdcf9a1d/0b3c4423-58e8-47ed-97ec-c33835ccbae0_iOS_screen_A_06.png/230x0w.webp" alt="">
                    </div>
                    <div class="service-card-link">
                        <li><a href=""><i class="fa-brands fa-google-play"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-app-store-ios"></i></a></li>
                        <li><a href=""><i class="fa-solid fa-house"></i></a></li>
                    </div>
                </div>
                <hr class="service-card-line">
                <div class="service-card">
                    <div class="service-card-info-text">
                        <div class="service-card-title">
                            <span class="service-card-title-main" style="color: skyblue;">소셜웨이</span>
                            <span class="service-card-title-sub">21세기 사용 안내서</span>
                            <p class="service-card-explanation">네이버 모바일은 사용자의 검색 의도와 맥락을 깊이 이해하는 검색 서비스를 중심으로 개인의 다양한 관심사를 이어갈 수 있는 콘텐츠 주제판을 제공하고 있습니다. 또한 매일 3천만 명에 이르는 다양한 사용자의 생각과 관심사를 연결하고, 새로운 기회를 만들어가는 플랫폼이 되고자 크고 작은 변화들을 이어가고 있습니다.</p>
                        </div>
                        <div class="service-card-logo">
                            <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple112/v4/31/e1/a1/31e1a123-c5b4-a027-e94d-e03128f9ab15/AppIcon-1x_U007emarketing-0-7-0-85-220.png/230x0w.webp" alt="">
                        </div>
                    </div>
                    <div class="service-card-info-more">
                        <img class="service-card-info-more-img" src="https://is4-ssl.mzstatic.com/image/thumb/PurpleSource112/v4/1a/b8/f3/1ab8f3f3-76a0-5910-17de-aa6cec4c00ad/1bcbaad8-4234-4f28-95a4-680bf22b07ac_1242x2688_Image03.jpg/230x0w.webp" alt="">
                        <img class="service-card-info-more-img" src="https://is3-ssl.mzstatic.com/image/thumb/Purple112/v4/68/12/c1/6812c164-4160-fd06-793c-56f216925c59/742f095d-d7f6-4200-9306-4d616f47ea2f_M_IOS_Appstore_Image04.jpg/230x0w.webp" alt="">                        
                        <img class="service-card-info-more-img" src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/25/5a/b8/255ab81f-ee66-37ff-bb6d-2d490b00c984/3756b7a6-4738-4222-9812-a285857c7e05_M_IOS_Appstore_Image05.jpg/230x0w.webp" alt="">
                        <img class="service-card-info-more-img" src="https://is4-ssl.mzstatic.com/image/thumb/Purple112/v4/43/6f/19/436f190f-b7c6-3f52-b955-bf1f719e1e2c/f92208d2-334b-49c1-889a-0264bb0567d6_M_IOS_Appstore_Image06.jpg/230x0w.webp" alt="">
                    </div>
                    <div class="service-card-link">
                        <li><a href=""><i class="fa-brands fa-google-play"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-app-store-ios"></i></a></li>
                        <li><a href=""><i class="fa-solid fa-house"></i></a></li>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="footer-wrapper">
            <div id="footer-info-up">
                <div id="footer-info-up-left">
                    <div id="footer-info-up-logo">STEP OF</div>
                    <div id="footer-info-up-copyright">© STEPOF Corp. All rights reserved.</div>
                </div>
                <div id="footer-info-up-policy">
                    <a href="" class="footer-info-up-policy">이용약관</a>
                    <a href="" class="footer-info-up-policy">운영정책</a>
                    <a href="" class="footer-info-up-policy">개인정보처리방침</a>
                    <a href="" class="footer-info-up-policy">청소년보호정책</a>
                </div>
            </div>
            <div id="footer-info-down">
                <div class="footer-info-down"><span>대표자명 : 양민호 </span></div>
                <div class="footer-info-down"><span>TEL :</span>&ensp;<a href="tel:+82 01043478854"> +82 010-4347-8854</a></div>
                <div class="footer-info-down"><span>EMAIL :</span>&ensp;<a href="mailto:hoguyt0517@gmail.com">hoguyt0517@gmail.com</a></div>
            </div>
        </div>
    </footer>
</body>
</html>