<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title> STEP OF - 스텝오브 </title>
</head>
<body>
    <script>
        AOS.init();
    </script>
    <div class="wrapper">
        <div id="logo">
            <a href="">STEPOF-CORP</a>
        </div>
        <div id="menu">
            <div id="menu-list">
                <li data-aos="fade-right"><a href="/admin/service">SERVICE 서비스</a></li>
                <li data-aos="fade-right" data-aos-delay="200"><a href="/admin/history">HISTORY 스토리</a></li>
                <li data-aos="fade-right" data-aos-delay="400"><a href="/admin/news">NEWS 소식</a></li>
                <li data-aos="fade-right" data-aos-delay="600"><a href="/admin/recruit">RECRUIT 채용</a></li>
            </div>
        </div>
    </div>
</body>
</html>