<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/addce8cc1e.js" crossorigin="anonymous"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/admin/header.css">
    <link rel="stylesheet" href="/css/admin/news.css">
    <script src="/js/admin/news.js" defer></script>
    <title> STEP OF - 스텝오브 </title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <nav id="main-header">
                <div class="main-header-wrapper">
                    <a class="standard" href="/admin">STEPOF-CORP</a><a class="part" href="/admin/news">NEWS 소식</a>
                </div>
            </nav>
            <nav id="nav-header">
                <div id="menu-list">
                    <li><a href="/admin/service">서비스</a></li> 
                    <li><a href="/admin/history">스토리</a></li>
                    <li><a href="/admin/news">소식</a></li>
                    <li><a href="/admin/recruit">채용</a></li>
                </div>
            </nav>
        </div>
    </header>
    <section id="recent">
        <div class="section-wrapper">
            <div id="add-news" class="news-wrapper">
                <div class="part-name">뉴스 추가하기</div>
                <a href="/admin/newsAdd" id="add-box">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div id="recent-news" class="news-wrapper">
                <div class="part-name">최근</div>
                <div class="part-wrapper">
                    <div class="swiper recent-news-swiper">                                                                                                                        
                        <div class="swiper-wrapper recent-news-swiper-wrapper">
                            <div class="swiper-slide news-swiper-slide">
                                <div class="news-img"><img src="http://deoham.co.kr/wp-content/uploads/2022/04/DSC07210-2.jpg" alt=""></div>
                                <div class="news-content">
                                    <h2 class="news-title">‘페이지 명동’, 현대차 정몽구 재단 공간 플랫폼 ‘온드림 소사이어티’ 유치</h2>
                                    <p class="news-article">
                                        소셜디벨로퍼 그룹 더함(대표 양동수)은 ‘페이지 명동’에 현대차 정몽구 재단(이사장 권오규)의 첫 공간 플랫폼 ‘온드림 소사이어티’를 유치했다고 25일 밝혔다.                                    
                                        온드림 소사이어티는 건강한 환경을 위한 연대와 도전을 지원한다는 목적으로 1층은 환경에 대한 지식과 경험을 공유하는 복합문화공간으로, 6층은 환경 분야 소셜벤처들을 위한 오피스 공간으로 조성했다.</p>
                                    <div class="news-info-group">
                                        <span class="news-info"><span class="news-info-title">리포터</span> 양민호</span>
                                        <span class="news-info"><span class="news-info-title">게시날짜</span> 2022년 7월 29일</span>
                                        <span class="news-info"><span class="news-info-title">카테고리</span> 서비스</span>
                                    </div>
                                </div>
                                <div class="news-setting">
                                    <div class="news-card-setting-left">
                                        <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                                        <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                                    </div>
                                    <div class="news-card-setting-right">
                                        <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide news-swiper-slide">
                                <div class="news-img"><img src="http://deoham.co.kr/wp-content/uploads/2022/07/nick-fewings-5zOgGK4biOs-unsplash1-1280x1279.jpg" alt=""></div>
                                <div class="news-content">
                                    <h2 class="news-title">공간콘텐츠, 무형의 가치를 유형의 경험으로 전환하는 일</h2>
                                    <p class="news-article">
                                        공간콘텐츠팀은 텅 빈 공간에 ‘경험’이라는 콘텐츠를 불어넣는 팀입니다. 다양한 주체들의 도화지가 되어 주는 복합문화공간 ‘커뮤니티하우스 마실’의 대관업무를 수행하고, 요즘 사람들의 라이프스타일을 파악해 F&B 전문그룹과 함께 ‘몰또’ 같은 카페를 기획하기도 하죠.</p>
                                    <div class="news-info-group">
                                        <span class="news-info"><span class="news-info-title">리포터</span> 양민호</span>
                                        <span class="news-info"><span class="news-info-title">게시날짜</span> 2022년 7월 29일</span>
                                        <span class="news-info"><span class="news-info-title">카테고리</span> 서비스</span>
                                    </div>
                                </div>
                                <div class="news-setting">
                                    <div class="news-card-setting-left">
                                        <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                                        <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                                    </div>
                                    <div class="news-card-setting-right">
                                        <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide news-swiper-slide">
                                <div class="news-img"><img src="http://deoham.co.kr/wp-content/uploads/2022/06/%EA%B3%A0%EC%96%91%EC%8B%9C-%EC%A0%9C2%ED%98%B8-%EC%94%A8%EC%95%97%EC%A3%BC%ED%83%9D-%ED%88%AC%EC%8B%9C%EB%8F%84.jpg" alt=""></div>
                                <div class="news-content">
                                    <h2 class="news-title">더함-온썸, 제로에너지건축과 커뮤니티 운영관리 도입한 고양시 제2호 씨앗주택 조성 예정</h2>
                                    <p class="news-article">
                                        ㈜더함에스디 컨소시엄이 지난 5월 고양형 신축매입약정 임대주택(제2호 씨앗주택) 건립 및 운영·관리 민간사업자 공모에 선정되었다고 밝혔다. 컨소시엄 대표사인 ㈜더함에스디는 국내 최초의 협동조합형 공공지원 민간임대주택인 위스테이별내(491세대)와 위스테이지축(539세대) 사업을 진행한 주관사로, 서울시 리모델링(셰어형) 사회주택, 공동체주택 사업 등 민관협력 주택사업의 공급 및 운영관리 경험을 다수 보유한 ㈜온썸과 협력하여 이번 공모에 참여하였다.</p>
                                    <div class="news-info-group">
                                        <span class="news-info"><span class="news-info-title">리포터</span> 양민호</span>
                                        <span class="news-info"><span class="news-info-title">게시날짜</span> 2022년 7월 29일</span>
                                        <span class="news-info"><span class="news-info-title">카테고리</span> 서비스</span>
                                    </div>
                                </div>
                                <div class="news-setting">
                                    <div class="news-card-setting-left">
                                        <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                                        <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                                    </div>
                                    <div class="news-card-setting-right">
                                        <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="all">
        <div id="all-search">
            <div id="search-box">
                <div id="search-input">
                    <input type="text" id="searching" placeholder="검색어를 입력하세요">
                    <button id="reset-btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div id="search-btn">
                    <button id="searching-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div class="unclicked" id="option-box">
                <button id="option-btn">
                    <div id="option-btn-left">
                        <div id="option-btn-left-icon"><i class="fa-solid fa-arrow-down-a-z"></i></div>
                        <span id="option-btn-left-title">필터</span>
                    </div>
                    <div id="option-btn-right">
                        <div id="option-btn-right-icon">
                            <i class="fa-solid fa-sort-down"></i>
                        </div>
                    </div>
                </button>
                <div id="option-group"></div>
            </div>
        </div>
        <div id="news-list">
            <div class="news-group">
                <div class="news-card">
                    <div class="news-card-img">
                        <img src="http://deoham.co.kr/wp-content/uploads/2022/04/DSC07210-2.jpg" alt="">
                    </div>
                    <div class="news-card-content">
                        <h2 class="news-card-title">‘페이지 명동’, 현대차 정몽구 재단 공간 플랫폼 ‘온드림 소사이어티’ 유치</h2>
                        <p class="news-card-article">
                            소셜디벨로퍼 그룹 더함(대표 양동수)은 ‘페이지 명동’에 현대차 정몽구 재단(이사장 권오규)의 첫 공간 플랫폼 ‘온드림 소사이어티’를 유치했다고 25일 밝혔다.
                            온드림 소사이어티는 건강한 환경을 위한 연대와 도전을 지원한다는..
                        </p>
                    </div>
                    <div class="news-card-info">
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">양민호</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">리포터</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">2020년 7월 29일</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">게시날짜</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">서비스</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">카테고리</span>
                        </div>
                    </div>
                    <div class="news-card-setting">
                        <div class="news-card-setting-left">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                        </div>
                        <div class="news-card-setting-right">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-card-img">
                        <img src="http://deoham.co.kr/wp-content/uploads/2022/07/nick-fewings-5zOgGK4biOs-unsplash1-1280x1279.jpg" alt="">
                    </div>
                    <div class="news-card-content">
                        <h2 class="news-card-title">공간콘텐츠, 무형의 가치를 유형의 경험으로 전환하는 일</h2>
                        <p class="news-card-article">
                            공간콘텐츠팀은 텅 빈 공간에 ‘경험’이라는 콘텐츠를 불어넣는 팀입니다. 다양한 주체들의 도화지가 되어 주는 복합문화공간 ‘커뮤니티하우스 마실’의 대관업무를 수행하고,
                            요즘 사람들의 라이프스타일..
                        </p>
                    </div>
                    <div class="news-card-info">
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">양민호</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">리포터</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">2020년 7월 29일</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">게시날짜</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">서비스</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">카테고리</span>
                        </div>
                    </div>
                    <div class="news-card-setting">
                        <div class="news-card-setting-left">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                        </div>
                        <div class="news-card-setting-right">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-card-img">
                        <img src="http://deoham.co.kr/wp-content/uploads/2022/06/%EA%B3%A0%EC%96%91%EC%8B%9C-%EC%A0%9C2%ED%98%B8-%EC%94%A8%EC%95%97%EC%A3%BC%ED%83%9D-%ED%88%AC%EC%8B%9C%EB%8F%84.jpg" alt="">
                    </div>
                    <div class="news-card-content">
                        <h2 class="news-card-title">더함-온썸, 제로에너지건축과 커뮤니티 운영관리 도입한 고양시 제2호 씨앗주택 조성 예정</h2>
                        <p class="news-card-article">
                            ㈜더함에스디 컨소시엄이 지난 5월 고양형 신축매입약정 임대주택(제2호 씨앗주택) 건립 및 운영·관리 민간사업자 공모에 선정되었다고 밝혔다. 
                            컨소시엄 대표사인 ㈜더함에스디는 국내 최초의 협동조합형 공공지원 민간임대주택인 위스테이별내..
                        </p>
                    </div>
                    <div class="news-card-info">
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">양민호</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">리포터</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">2020년 7월 29일</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">게시날짜</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">서비스</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">카테고리</span>
                        </div>
                    </div>
                    <div class="news-card-setting">
                        <div class="news-card-setting-left">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                        </div>
                        <div class="news-card-setting-right">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-group">
                <div class="news-card">
                    <div class="news-card-img">
                        <img src="http://deoham.co.kr/wp-content/uploads/2022/04/DSC07210-2.jpg" alt="">
                    </div>
                    <div class="news-card-content">
                        <h2 class="news-card-title">‘페이지 명동’, 현대차 정몽구 재단 공간 플랫폼 ‘온드림 소사이어티’ 유치</h2>
                        <p class="news-card-article">
                            소셜디벨로퍼 그룹 더함(대표 양동수)은 ‘페이지 명동’에 현대차 정몽구 재단(이사장 권오규)의 첫 공간 플랫폼 ‘온드림 소사이어티’를 유치했다고 25일 밝혔다.
                            온드림 소사이어티는 건강한 환경을 위한 연대와 도전을 지원한다는..
                        </p>
                    </div>
                    <div class="news-card-info">
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">양민호</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">리포터</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">2020년 7월 29일</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">게시날짜</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">서비스</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">카테고리</span>
                        </div>
                    </div>
                    <div class="news-card-setting">
                        <div class="news-card-setting-left">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                        </div>
                        <div class="news-card-setting-right">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-card-img">
                        <img src="http://deoham.co.kr/wp-content/uploads/2022/07/nick-fewings-5zOgGK4biOs-unsplash1-1280x1279.jpg" alt="">
                    </div>
                    <div class="news-card-content">
                        <h2 class="news-card-title">공간콘텐츠, 무형의 가치를 유형의 경험으로 전환하는 일</h2>
                        <p class="news-card-article">
                            공간콘텐츠팀은 텅 빈 공간에 ‘경험’이라는 콘텐츠를 불어넣는 팀입니다. 다양한 주체들의 도화지가 되어 주는 복합문화공간 ‘커뮤니티하우스 마실’의 대관업무를 수행하고,
                            요즘 사람들의 라이프스타일..
                        </p>
                    </div>
                    <div class="news-card-info">
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">양민호</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">리포터</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">2020년 7월 29일</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">게시날짜</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">서비스</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">카테고리</span>
                        </div>
                    </div>
                    <div class="news-card-setting">
                        <div class="news-card-setting-left">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                        </div>
                        <div class="news-card-setting-right">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-card-img">
                        <img src="http://deoham.co.kr/wp-content/uploads/2022/06/%EA%B3%A0%EC%96%91%EC%8B%9C-%EC%A0%9C2%ED%98%B8-%EC%94%A8%EC%95%97%EC%A3%BC%ED%83%9D-%ED%88%AC%EC%8B%9C%EB%8F%84.jpg" alt="">
                    </div>
                    <div class="news-card-content">
                        <h2 class="news-card-title">더함-온썸, 제로에너지건축과 커뮤니티 운영관리 도입한 고양시 제2호 씨앗주택 조성 예정</h2>
                        <p class="news-card-article">
                            ㈜더함에스디 컨소시엄이 지난 5월 고양형 신축매입약정 임대주택(제2호 씨앗주택) 건립 및 운영·관리 민간사업자 공모에 선정되었다고 밝혔다. 
                            컨소시엄 대표사인 ㈜더함에스디는 국내 최초의 협동조합형 공공지원 민간임대주택인 위스테이별내..
                        </p>
                    </div>
                    <div class="news-card-info">
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">양민호</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">리포터</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">2020년 7월 29일</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">게시날짜</span>
                        </div>
                        <div class="news-card-info-part">
                            <span class="news-card-info-a">서비스</span>
                            <hr class="news-card-info-line">
                            <span class="news-card-info-q">카테고리</span>
                        </div>
                    </div>
                    <div class="news-card-setting">
                        <div class="news-card-setting-left">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-link"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa fa-file-arrow-down"></i></button>
                        </div>
                        <div class="news-card-setting-right">
                            <button class="news-card-edit edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="news-card-delete delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-group">
                <div class="news-card">

                </div>
                <div class="news-card">
                    
                </div>
                <div class="news-card">
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>